/* Reset some default styles */
body,
h1,
h2,
h3,
p {
    margin: 0;
    padding: 0;
}

/* Body Styles */
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background-color: #111;
    color: #fff;
}

main {
    margin: 20px auto;
    padding: 20px;
    width: 100%;
    max-width: 1200px;
    flex: 1;
}
.dashboard {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(200px, 1fr));
    gap: 20px;
    margin-top: 20px;
    max-width: 1200px;
}

.item {
    height: 150px;
    width: 150px;
    max-width: 150px; /* Adjust maximum width as needed */
    text-align: center;
    line-height: 150px;
    background-color: #3498db;
    color: #fff;
    border-radius: 10px;
    cursor: pointer;
    transition: background-color 0.3s;
    white-space: nowrap; /* Prevent text wrapping */
    overflow: hidden; /* Hide overflow */
    text-overflow: ellipsis; /* Show ellipsis for overflow text */
}

.item:nth-child(1),
.item:nth-child(10),
.item:nth-child(19),
.item:nth-child(28) {
    background-color: #3498db; /* Tube Time */
}

.item:nth-child(2),
.item:nth-child(11),
.item:nth-child(20),
.item:nth-child(29) {
    background-color: #e74c3c; /* Coded Items */
}

.item:nth-child(3),
.item:nth-child(12),
.item:nth-child(21),
.item:nth-child(30) {
    background-color: #2ecc71; /* Gaming */
}

.item:nth-child(4),
.item:nth-child(13),
.item:nth-child(22),
.item:nth-child(31) {
    background-color: #f39c12; /* Space */
}

.item:nth-child(5),
.item:nth-child(14),
.item:nth-child(23),
.item:nth-child(32) {
    background-color: #9b59b6; /* Aviation */
}

.item:nth-child(6),
.item:nth-child(15),
.item:nth-child(24),
.item:nth-child(33) {
    background-color: #34495e; /* Transport */
}

.item:nth-child(7),
.item:nth-child(16),
.item:nth-child(25),
.item:nth-child(34) {
    background-color: #f77067; /* Music */
}

.item:nth-child(8),
.item:nth-child(17),
.item:nth-child(26),
.item:nth-child(35) {
    background-color: #d35400; /* Admin */
}

.item:nth-child(9),
.item:nth-child(18),
.item:nth-child(27),
.item:nth-child(36) {
    background-color: #1abc9c; /* Other */
}

/* Header Styles */
header {
    background-color: #222; /* Light gray background for header */
    color: #fff; /* Dark gray text for contrast */
    padding: 10px 0;
}

nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 20px;
}

.logo {
    font-size: 24px;
}

#big {
    list-style: none;
    margin: 0;
    padding: 0;
    display: flex;
}

#small {
    display: none;
}

li {
    margin-right: 20px;
}

a {
    text-decoration: none;
    color: #fff; /* Dark gray text for links for better readability */
    font-weight: bold;
}

a:hover {
    color: #ddd; /* Slightly darker on hover for better visibility */
}

/* Footer Styles */
footer {
    background-color: #333; /* Medium light gray for the footer */
    color: #fff; /* Dark gray text for contrast */
    padding: 20px;
    width: 100%;
}

.footer-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start; /* Align items to the left */
}

.logo,
.links {
    margin-bottom: 10px;
}

.sitemap,
.version {
    margin-right: 20px;
}

.disclaimer p {
    font-size: 12px;
    color: #fff; /* Dark gray for better readability */
    text-align: center;
}

.privacy-terms {
    margin-top: 10px;
    margin-left: auto; /* Push to the right */
}

.privacy-terms a {
    color: #fff; /* Dark gray for footer links */
    text-decoration: none;
    margin-left: 10px; /* Add some space between links */
}

.privacy-terms a:hover {
    color: #ddd; /* Darker on hover for better visibility */
}

#showM,
#closeM {
    display: none;
    font-size: 25px;
}

/* Responsive Styles */
@media (max-width: 768px) {
    main {
        padding: 10px;
    }

    .footer-content {
        flex-direction: column;
    }

    .footer-links li {
        margin-bottom: 5px;
    }

    #showM {
        display: none;
    }
}

@media screen and (max-width: 768px) {
    nav {
        padding: 0 10px; /* Reduce padding for smaller screens */
        width: 100%;
    }

    header {
        width: 100%;
        margin-right: 0px;
    }

    ul {
        flex-direction: column; /* Stack navigation items vertically on mobile */
    }

    #small {
        list-style: none;
        margin: 0;
        padding: 0;
        display: flex;
        margin-right: 0; /* Remove right margin for mobile */
        margin-bottom: 10px; /* Add bottom margin for spacing */
    }

    #big {
        display: none;
    }

    footer {
        padding: 10px 0; /* Reduce padding for smaller screens */
        padding-right: 10px;
        padding-left: 10px;
    }

    .footer-links li {
        margin-right: 0; /* Remove right margin for mobile */
    }

    #menu-toggle {
        display: block;
    }

    #small {
        position: fixed;
        top: 45px;
        right: 10px;
        padding: 15px;
        border-radius: 20px;
        width: fit-content;
        height: fit-content;
        background-color: #222; /* Dark background for mobile menu */
        transition: right 0.3s ease-in-out;
    }

    #showM {
        display: block;
    }
}

